/* You can add global styles to this file, and also import other style files */
html{
    background-color: #333335;
  }
  .searchBox{
      width: 700px;
      height: 30px;
      background-color: #212122;
      color:white;
      border-color: #333335;
      border-radius: 10px;
      
  }