@model M_TV_Info.Models.FavouriteModel;
<div class="favorites">

    <h1 class="border-bottom">My Favorites</h1>
    <div class="items">
        <h2>Recent Entries</h2>
        <div id="RecentFavorites" class="carousel slide" data-ride="carousel" data-interval="false" style=" display: grid; grid-template-columns: 25px 200px 1fr 200px 25px; align-content: center;">
            <a class="carousel-control-prev" href="#TrendingTv" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div id="col">
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/1.jpg" class="imagePosterCarousel" alt="..." ></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/2.jpg" class="imagePosterCarousel" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/3.jpg" class="imagePosterCarousel" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/4.jpg" class="imagePosterCarousel" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/5.jpg" class="imagePosterCarousel" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/6.jpg" class="imagePosterCarousel" alt="..."></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="col">
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/7.jpg" class="imagePosterCarousel" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/8.jpg" class="imagePosterCarousel" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/9.jpg" class="imagePosterCarousel" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="imagePosterCarousel" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="imagePosterCarousel" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="imagePosterCarousel" alt="..."></a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-next" href="#RecentFavorites" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div>
        <h2 id="border-bottom">Full list</h2>
        <div class="movieList">
            <div class="movieEntry">
                <img src="~/assets/1.jpg" width=100px height=148px /> <h3 style="align-self:center;">Movie Title</h3><img src="~/assets/DeleteButton.png" width=50px height=50px class="deleteButton" />
            </div>
            <div class="movieEntry">
                <img src="~/assets/1.jpg" width=100px height=148px /> <h3 style="align-self:center;">Movie Title</h3><img src="~/assets/DeleteButton.png" width=50px height=50px class="deleteButton" />
            </div>
            <div class="movieEntry">
                <img src="~/assets/1.jpg" width=100px height=148px /> <h3 style="align-self:center;">Movie Title</h3><img src="~/assets/DeleteButton.png" width=50px height=50px class="deleteButton" />
            </div>
            <div class="movieEntry">
                <img src="~/assets/1.jpg" width=100px height=148px /> <h3 style="align-self:center;">Movie Title</h3><img src="~/assets/DeleteButton.png" width=50px height=50px class="deleteButton" />
            </div>
            <div class="movieEntry">
                <img src="~/assets/1.jpg" width=100px height=148px /> <h3 style="align-self:center;">Movie Title</h3><img src="~/assets/DeleteButton.png" width=50px height=50px class="deleteButton" />
            </div>
            <div class="movieEntry">
                <img src="~/assets/1.jpg" width=100px height=148px /> <h3 style="align-self:center;">Movie Title</h3><img src="~/assets/DeleteButton.png" width=50px height=50px class="deleteButton" />
            </div>
            <div class="movieEntry">
                <img src="~/assets/1.jpg" width=100px height=148px /> <h3 style="align-self:center;">Movie Title</h3><img src="~/assets/DeleteButton.png" width=50px height=50px class="deleteButton" />
            </div>
            <div class="movieEntry">
                <img src="~/assets/1.jpg" width=100px height=148px /> <h3 style="align-self:center;">Movie Title</h3><img src="~/assets/DeleteButton.png" width=50px height=50px class="deleteButton" />
            </div>
            <div class="movieEntry">
                <img src="~/assets/1.jpg" width=100px height=148px /> <h3 style="align-self:center;">Movie Title</h3><img src="~/assets/DeleteButton.png" width=50px height=50px class="deleteButton" />
            </div>

        </div>
    </div>
</div>