@model M_TV_Info.Models.TMDbModels.TrendingsModel

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site - Copy.css" />
<div class="max-container">
    <img src="~/assets/HomeBanner.jpg" class="banner"/>
    <div class="items">
        <h2 class="border-bottom">Trending Movies</h2>
        <div id="TrendingMovies" class="carousel slide" data-ride="carousel" data-interval="false" style=" display: grid; grid-template-columns: 25px 200px 1fr 200px 25px; align-content: center;">
            <a class="carousel-control-prev" href="#TrendingMovies" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
            <div class="carousel-inner">
                <!-- Trending Movies Carousel-->
                <div class="carousel-item active">
                    <div id="col">
                        @foreach (var movie in Model.results)
                        {
                            <p>@movie.title</p>
                        }
                        @* @foreach(var item in Model.results){
                            <a asp-controller="Home" asp-action="MovieView">
                                <img src="@item.poster_path" class="d-block w-100" alt="@item.title">
                            </a>
                        } *@
                    </div>
                </div>
                @* <div class="carousel-item">
                    <div id="col">
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/7.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/8.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/9.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                </div> *@
            </div>
            <a class="carousel-control-next" href="#TrendingMovies" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="items">
        <h2 class="border-bottom">Trending Tv-Shows</h2>
        <div id="TrendingTv" class="carousel slide" data-ride="carousel" data-interval="false" style=" display: grid; grid-template-columns: 25px 200px 1fr 200px 25px; align-content: center;">
            <a class="carousel-control-prev" href="#TrendingTv" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div id="col">
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/1.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/2.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/3.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/4.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/5.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/6.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="col">
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/7.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/8.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/9.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-next" href="#TrendingTv" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="items">
        <h2 class="border-bottom">Upcoming Movies</h2>
        <div id="UpcomingMovies" class="carousel slide" data-ride="carousel" data-interval="false" style=" display: grid; grid-template-columns: 25px 200px 1fr 200px 25px; align-content: center;">
            <a class="carousel-control-prev" href="#UpcomingMovies" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div id="col">
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/1.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/2.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/3.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/4.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/5.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/6.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="col">
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/7.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/8.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/9.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-next" href="#UpcomingMovies" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="items">
        <h2 class="border-bottom">Upcoming Tv-Shows</h2>
        <div id="UpcomingTv" class="carousel slide" data-ride="carousel" data-interval="false" style=" display: grid; grid-template-columns: 25px 200px 1fr 200px 25px; align-content: center;">
            <a class="carousel-control-prev" href="#UpcomingTv" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div id="col">
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/1.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/2.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/3.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/4.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/5.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/6.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="col">
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/7.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/8.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/9.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                        <a asp-controller="Home" asp-action="MovieView"><img src="~/assets/10.jpg" class="d-block w-100" alt="..."></a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-next" href="#UpcomingTv" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>