@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site - Copy.css" />
<div class="movieV">
    <img src="~/assets/1.jpg" class="moviePoster" /> <h1 class="movieTitle"> Movie Title</h1>
    <div class="synopsis">Movie synopsis goes here.</div>
    <p class="movieInfo">Movie info here (ie cast, runtime, genre etc)</p>
</div>

