@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<div style="display:flex; flex-wrap:wrap">
    <p>
        <img src="~/assets/giorgos.png" />
        Καρανικόλας Γιώργος - Project Manager
    </p>
    
    <p>
        <img src="~/assets/dimitris.png" />
        Τζήκας Δημήτρης - Tester, Auth Dev
    </p>
    
    <p>
        <img src="~/assets/xristos.png" />
        Λάμαΐ Κριστέλ - Back-End Dev
    </p>
    
    <p>
        <img src="~/assets/giannis.png" />
        Τσιλίκας Ιωάννης - Front-End Dev
    </p>    
</div>
