@{
    ViewBag.Title = "Search";
}
<link rel="stylesheet" href="~/css/site - Copy.css" />
<a asp-controller="Search" asp-action="Search"><img src="~/assets/1.jpg" width="25" height="25" style="padding: 5px;" class='watchB'></a>