@{
    ViewBag.Title = "Search";
}
@model M_TV_Info.Models.TMDbModels.SearchModel;
<link rel="stylesheet" href="~/css/site - Copy.css" />
@foreach (var item in Model.results)
{
    <p>@item.title</p>
}