@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/site - Copy.css" />
<h1>My Watchlist</h1>
<h2>Recent Entries</h2>
<p>Carousel with recent entries</p>
<h2 id="border-bottom">Full list</h2>
<div class="movieList">
    <img src="~/assets/1.jpg" style="display:block"/> <h3 style="align-self:center;">Movie1 Title</h3>
</div>
<div class="movieList">
    <img src="~/assets/2.jpg" style="display:block" /> <h3 style="align-self:center;">Movie2 Title</h3>
</div>
<div class="movieList">
    <img src="~/assets/3.jpg" style="display:block" /> <h3 style="align-self:center;">Movie3 Title</h3>
</div>
<div class="movieList">
    <img src="~/assets/4.jpg" style="display:block" /> <h3 style="align-self:center;">Movie4 Title</h3>
</div>
<div class="movieList">
    <img src="~/assets/5.jpg" style="display:block" /> <h3 style="align-self:center;">Movie5 Title</h3>
</div>
<div class="movieList">
    <img src="~/assets/6.jpg" style="display:block" /> <h3 style="align-self:center;">Movie6 Title</h3>
</div>