#float {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #725AC1;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

#account {
    padding-top: 30%;
    padding-bottom: 20%;
    margin-left: -50%;
    margin-right: -50%;
}

#account, #account a {
    color: white;
}

.text-danger {
    color: #ffaaaa !important;
}
